###Merge DataFrames Code

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Load Team's Cleaned Data Files

Load the three TSV files from rocket, launch, and mission.

In [5]:
import pandas as pd

data_folder = '/content/drive/MyDrive/DSCI511/Term Project/'

# load the cleaned files
rocket_df = pd.read_csv(data_folder + 'rocket_data.tsv', sep='\t')
launch_df = pd.read_csv(data_folder + 'launch_data.tsv', sep='\t')
mission_df = pd.read_csv(data_folder + 'clean_mission_data.tsv', sep='\t')

print("Rocket data:", rocket_df.shape)
print("Launch data:", launch_df.shape)
print("Mission data:", mission_df.shape)

Rocket data: (7333, 15)
Launch data: (7333, 10)
Mission data: (7333, 10)

## Check Column Names

Quick check to see what columns are in each file and confirm ID columns match

In [7]:
# look at all columns
print("Rocket columns:", list(rocket_df.columns))
print("Launch columns:", list(launch_df.columns))
print("Mission columns:", list(mission_df.columns))

Rocket columns: ['ID', 'Rocket_name', 'Manufacturer_name', 'Manufacturer_country', 'Manufacturer_company_type', 'Launch_service_provider', 'Reusability', 'Min_no_stages', 'Max_no_stages', 'Rocket_length', 'Rocket_diameter', 'Launch_cost', 'Liftoff_mass_tons', 'Liftoff_thrust_kN', 'Rocket_apogee']
Launch columns: ['ID', 'Date_of_Launch', 'Lauch_Status', 'Short_Form_Status', 'Launch_pad_location_name', 'Launch_pad_name', 'Launch_pad_country_name', 'Launch_pad_country_ID', 'Launch_pad_lattitude', 'Launch_pad_longitude']
Mission columns: ['launch_id', 'mission_id', 'mission_name', 'mission_type', 'mission_description', 'orbit_name', 'orbit_abbrev', 'program_name', 'lsp_name', 'lsp_type']

## Check ID Column Names

Quick check if ID columns match before merging - if not will need to rename

In [8]:
# check ID column names
print("Rocket ID column:", rocket_df.columns[0])
print("Launch ID column:", launch_df.columns[0])
print("Mission ID column:", mission_df.columns[0])

Rocket ID column: ID
Launch ID column: ID
Mission ID column: launch_id

## Rename Mission ID Column

Change launch_id to ID to match the other files

In [9]:
# renames mission's launch_id to match rocket's and launch's ID
mission_df.rename(columns={'launch_id': 'ID'}, inplace=True)

# check ID column names
print("Rocket ID column:", rocket_df.columns[0])
print("Launch ID column:", launch_df.columns[0])
print("Mission ID column:", mission_df.columns[0])

Rocket ID column: ID
Launch ID column: ID
Mission ID column: ID

## Merge Rocket and Launch Data

Combine the two DataFrames on ID column, and a visual check.

In [10]:
# combine rocket and launch data
rocket_and_launch = pd.merge(rocket_df, launch_df, on='ID', how='outer')
print(f"After merging Rocket + Launch: {rocket_and_launch.shape}")

# make sure it worked
print(rocket_and_launch.head())
print("\nTotal columns:", len(rocket_and_launch.columns))

After merging Rocket + Launch: (7333, 24)
                                     ID     Rocket_name  \
0  000fbb81-80c8-4095-a811-aa561ce9ed3c  Delta IV Heavy
1  00190507-4918-491a-aa73-0e151775fada   Long March 2D
2  002ca252-2ad6-4e8e-b899-0564c86b5fe9       Tsiklon-2
3  0041d2ac-62cb-416f-b67a-cd0277f1cfe2        Soyuz-U2
4  00441721-5019-4c49-aa85-e38aad2d3937     Proton-K/DM

                                   Manufacturer_name  \
0                                             Boeing
1  China Aerospace Science and Technology Corpora...
2                             Yuzhnoye Design Bureau
3                                                NaN
4  Khrunichev State Research and Production Space...

       Manufacturer_country Manufacturer_company_type  \
0  United States of America                Commercial
1                     China                Government
2                   Ukraine                Commercial
3                       NaN                       NaN
4                    Russia                Government

                             Launch_service_provider  Reusability  \
0                             United Launch Alliance        False
1  China Aerospace Science and Technology Corpora...        False
2                               Soviet Space Program        False
3                               Soviet Space Program        False
4                               Soviet Space Program        False

   Min_no_stages  Max_no_stages  Rocket_length  ...  Rocket_apogee  \
0            2.0            2.0          72.00  ...        40000.0
1            1.0            2.0          38.30  ...          500.0
2            3.0            3.0          39.70  ...            NaN
3            2.0            2.0          34.54  ...            NaN
4            4.0            4.0          59.00  ...            NaN

         Date_of_Launch       Lauch_Status  Short_Form_Status  \
0  2009-01-18T02:47:00Z  Launch Successful            Success
1  2021-10-14T10:51:00Z  Launch Successful            Success
2  1981-09-14T20:31:00Z  Launch Successful            Success
3  1987-04-21T15:14:17Z  Launch Successful            Success
4  1974-07-29T12:00:00Z  Launch Successful            Success

                            Launch_pad_location_name  \
0                        Cape Canaveral SFS, FL, USA
1  Taiyuan Satellite Launch Center, People's Repu...
2        Baikonur Cosmodrome, Republic of Kazakhstan
3        Baikonur Cosmodrome, Republic of Kazakhstan
4        Baikonur Cosmodrome, Republic of Kazakhstan

            Launch_pad_name   Launch_pad_country_name Launch_pad_country_ID  \
0  Space Launch Complex 37B  United States of America                   2.0
1          Launch Complex 9                     China                   6.0
2                        90                Kazakhstan                  44.0
3                       1/5                Kazakhstan                  44.0
4               81/24 (81P)                Kazakhstan                  44.0

  Launch_pad_lattitude Launch_pad_longitude
0            28.531700           -80.564950
1            38.863128           111.589567
2            46.081000            62.929806
3            45.920000            63.342000
4            46.071001            62.984999

[5 rows x 24 columns]

Total columns: 24

## Add Mission Data

Merge mission data into the combined rocket and launch DataFrame, and another visual check.

In [11]:
# add mission data to the combined table
final_df = pd.merge(rocket_and_launch, mission_df, on='ID', how='outer')
print(f"Final merged data: {final_df.shape}")

# see what final data looks like
print(final_df.head(3))

Final merged data: (7333, 33)
                                     ID     Rocket_name  \
0  000fbb81-80c8-4095-a811-aa561ce9ed3c  Delta IV Heavy
1  00190507-4918-491a-aa73-0e151775fada   Long March 2D
2  002ca252-2ad6-4e8e-b899-0564c86b5fe9       Tsiklon-2

                                   Manufacturer_name  \
0                                             Boeing
1  China Aerospace Science and Technology Corpora...
2                             Yuzhnoye Design Bureau

       Manufacturer_country Manufacturer_company_type  \
0  United States of America                Commercial
1                     China                Government
2                   Ukraine                Commercial

                             Launch_service_provider  Reusability  \
0                             United Launch Alliance        False
1  China Aerospace Science and Technology Corpora...        False
2                               Soviet Space Program        False

   Min_no_stages  Max_no_stages  Rocket_length  ...  Launch_pad_longitude  \
0            2.0            2.0           72.0  ...            -80.564950
1            1.0            2.0           38.3  ...            111.589567
2            3.0            3.0           39.7  ...             62.929806

   mission_id       mission_name           mission_type  \
0       553.0  NROL-26 (USA-202)  Government/Top Secret
1      5875.0       Xihe (CHASE)           Heliophysics
2      3728.0            US-P 12  Government/Top Secret

                                 mission_description  \
0  A military reconnaissance satellite, it's purp...
1  Xihe, also known as the Chinese HÎ± Solar Explo...
2  Ocean surveillance satellite using passive ELI...

                     orbit_name orbit_abbrev program_name  \
0  Geostationary Transfer Orbit          GTO          NaN
1         Sun-Synchronous Orbit          SSO          NaN
2               Low Earth Orbit          LEO          NaN

                                            lsp_name    lsp_type
0                             United Launch Alliance  Commercial
1  China Aerospace Science and Technology Corpora...  Government
2                               Soviet Space Program  Government

[3 rows x 33 columns]

## Check for Missing Values

See if any columns have missing data after merging

In [12]:
# check missing values
missing = final_df.isnull().sum()
print("Columns with missing data:")
print(missing[missing > 0])  # shows just the ones with nulls

Columns with missing data:
Manufacturer_name             658
Manufacturer_country          658
Manufacturer_company_type     658
Min_no_stages                1422
Max_no_stages                1422
Rocket_length                1536
Rocket_diameter              1537
Launch_cost                  5235
Liftoff_mass_tons            1634
Liftoff_thrust_kN            3176
Rocket_apogee                5987
Launch_pad_country_name        47
Launch_pad_country_ID          47
mission_id                    517
mission_name                  517
mission_type                  543
mission_description           517
orbit_name                    530
orbit_abbrev                  540
program_name                 5862
dtype: int64

## Save Merged Dataset

Save the final combined data to a TSV file

In [13]:
# save merged data to google drive
output_folder = '/content/drive/MyDrive/DSCI511/Term Project/'
output_filename = 'merged_launch_data.tsv'

final_df.to_csv(output_folder + output_filename, sep='\t', index=False)

print(f"Saved to {output_filename}")
print(f"Final merged data: {final_df.shape}")

Saved to merged_launch_data.tsv
Final merged data: (7333, 33)